.row{
  margin:10px;
}

.headlines {
  border: 2px solid black;
  padding: 3px;
  border-radius: 10px;
  text-align: center;
  width:  40%;
  margin: 1px 5%;
}

.item img{
  margin:0 auto;
}

div img {
  border-radius: 5px;
}

.logo-li{
  margin-right:50px;
}

.logo-li img{
  width:100px;
}

.navbar{
  /*height:100px;*/
}

button, .btn, .btn-default {
  border:  none;
  background-color: none;
  background: none;
  padding: 0px;
  box-shadow: none;
  float:right;
  outline: 0;
  outline: none;

}

.dropdown-menu{
  margin-top:6%;
  margin-left:86%;
}

.gray-image{
  float:right;
}

.btn:focus, .btn:active{
  outline: 0 !important;
  outline: none !important;
  border: none !important;

}
