<div class="row">
  <div class="well">
    <h3>Headline Text</h3>
  </div>

</div>

<div class="row">
  <div class="" id="headline-image">
    <img src="" />
  </div>

</div>

<div class="row">
  <div class="col-sm-9">
    <h3>Headline Body</h3>
  </div>
  <div class="col-sm-3">
    <h3>Sidebar</h3>
  </div>

</div>
